.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 20px;
  height: 60px;
  border-bottom: 1px solid #cccccc;
}

.logo {
  height: 90px; /* Adjust as needed */
  cursor: pointer;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  color: #2c3e50;
  margin-left: 10px;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button {
  background-color: #34495e;
  color: #ecf0f1;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  width: 60px; 
  height: 60px; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-buttons button:hover {
  background-color: #95a5a6;
}
