.publication-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    position: relative;
}
  
.publication-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.publication-author {
    font-size: 0.8em;
    cursor: pointer;
    flex: 1;
    text-align: left;
}
  
.publication-community {
    flex: 2;
    text-align: center;
    font-weight: bold;
}
  
.publication-date {
    font-size: 0.8em;
    color: #666;
    flex: 1;
    text-align: right;
}
  
.publication-title {
    cursor: pointer;
    margin-bottom: 10px;
}
  
.publication-content-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
  
.publication-content {
    overflow: hidden;
}
  
.publication-footer {
    display: flex;
    justify-content: space-between;
}
  
.publication-hashtags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
  
.publication-hashtags li {
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 0.8em;
}
  
  