.search-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust as needed to avoid touching the logo and buttons */
}

.search-form {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
}

.search-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
}

.search-buttons {
  display: inline-flex;
  right: 0px;
  float: inline-end;
}

.search-buttons button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.hashtags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.hashtag {
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.remove-hashtag-button {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.new-hashtag-input {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
