.search-bar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  width: 100%;
  max-width: 600px; 
}

.search-bar-container {
  display: flex;
  width: 100%;
  background-color: #ecf0f1; 
  border-radius: 25px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 25px 0 0 25px; 
  background-color: #ecf0f1; 
  color: #2c3e50; 
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.search-buttons {
  display: flex;
  gap: 2px;
}

.add-hashtag-button,
.search-button {
  background-color: #34495e;
  color: #ecf0f1;
  border: none;
  cursor: pointer;
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-hashtag-button:hover,
.search-button:hover {
  background-color: #95a5a6;
}

.hashtags-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.hashtag {
  background-color: #34495e;
  color: #ecf0f1;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.remove-hashtag-button {
  background: none;
  border: none;
  color: #ecf0f1;
  margin-left: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: none;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.new-hashtag-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: calc(100% - 40px);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .search-bar-container {
    flex-direction: column;
  }

  .search-input {
    border-radius: 25px;
  }

  .search-buttons {
    margin-top: 10px;
  }

  .modal-content {
    width: 95%;
  }
}